.szepites
{
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
    color: gray;
}

.map_kep{
    border: solid black 5px;
    width: 400px;
    margin-left: 300px;
}
#hokkaido_bg{
    background-image: url(hokkaido_bg_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    
}
#honshu_bg{
    background-image: url(honshu_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#shikoku_bg{
    background-image: url(shikoku_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#kyushu_bg{
    background-image: url(kyushu_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#japan_bg{
    background-image: url(japan_map_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#ul{
    background-color: white;
}
.card{
    background-color: black;
    color: white;
    
    text-align: center;
}
 .card-header{
    background-color: white;
 }

#accordion{
    margin-left: 300px;
    margin-right: 300px;
}
#focim{
    font-size:100px;
    text-align: center;
}
#nev{
    font-size: x-small;
    text-align: center;
}
.szovegek{
    text-indent: 10px;
    text-align: left;
}
.kiemeles{
    background-color: white;
    opacity: 70%;
    color: black;
}
#varosok_hokkaido{
    background-color: white;
    
}
.nemzetipark_kepek_hokkaido{
    width: 400px;
}